#network {
    border: 1px solid black;
    background: black;
    width: 100%;
}

#statusLabel{
    position: absolute;
    left: 20px;
    color: white;
    top: 20px;
    padding: 10px;
    width: 200px;
    background-color: rgba(255,255,255,0.6);
    z-index: 20000;
}
:host{
    background: transparent url("src/assets/back.jpg") no-repeat top center
}