#network {
  border: 1px solid black;
  background: black;
  width: 100%;
}
#navigateButton {
  width: 100%;
}
#nodeList {
  max-height: 255px;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  border: 1px solid black;
  line-height: 12px;
}
.directionButton {
  width: 50%;
}

#hoverBox {
  position: absolute;
  left: 20px;
  color: white;
  top: 20px;
  width: 200px;
  z-index: 20000;
}
.transparentBox {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 10px;
}
:host {
  background: transparent url("src/assets/back.jpg") no-repeat top center;
}
#nodeList li {
  padding: 5px 10px 0;
}

#nodeList li.active {
  font-weight: bold;
  background-color: #ffffff99
}

#nodeList li > span {
  color: #575757;
  font-size: 10px;
}

