<div #network id="network"></div>
<div id="hoverBox">
  <div class="transparentBox">
    <label for="from">From:</label>
    <input [(ngModel)]="start" name="from" id="from" title="Enter a start node label."/>
    <label for="from">To:</label>
    <input [(ngModel)]="destination" name="to" id="to" title="Enter a destination node label."/>
    <button (click)="navigate()" id="navigateButton">Navigate</button>
  </div>
  <div class="transparentBox" *ngIf="directions">
    <div>
      Directions
    </div>
    <ul id="nodeList">
      <li
        *ngFor="let d of directions; let i = index"
        [class.active]="i == currentIndex"
      >
        {{ d.label }}<br> <span>ly: {{directionCosts[i]}}</span>
      </li>
    </ul>
    <button
      (click)="nextDirection(currentIndex - 1)"
      [disabled]="currentIndex <= 0"
      class="directionButton"
    >
      &lt; Back
    </button>
    <button
      class="directionButton"
      (click)="nextDirection(currentIndex + 1)"
      [disabled]="currentIndex >= directions.length - 1"
    >
      Next &gt;
    </button>
  </div>
</div>
